
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ view }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <label>Email:</label>
    {{ form.email }}

    <label>Имя:</label>
    {{ form.firstname }}

    <label>Фамилия:</label>
    {{ form.surname }}

    <label>Отчество:</label>
    {{ form.fathers_name }}

    <label>Телефон:</label>
    {{ form.phone_number }}

    <label>Паспорт:</label>
    {{ form.pasport }}

    <label>Баланс:</label>
    {{ form.balance }}

    <a href="{% url 'main_page' %}">На главную</a>
    <a href="{% url 'clients' %}">На страницу клиентов</a>
</body>
</html>