<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="csrf_token" content="{{ csrf_token }}">
    <title>Vouchers</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <table>
    <tr>
      <th>Место</th>
      <th>Дата</th>
      <th>Удалить путевку</th>
      <th>Просмотр деталей</th>
      <th>Обновить данные</th>
    </tr>
  {% for voucher in object_list %}
    <tr>
      <td>{{ voucher.place }}</td>
      <td>{{ voucher.date }}</td>
      <td><button onclick="deleteClient({{ voucher.id }})">Удалить</button></td> {% csrf_token %}
      <td><a href="{% url 'voucher_details' voucher.id %}">Детали</a></td>
      <td><a href="{% url 'voucher_update' voucher.id %}">Обновить</a></td>
    </tr>
  {% endfor %}
  </table>
  <a href="{% url 'voucher_create' %}">Создать путевку</a>
  <a style="margin: 5px;" href="{% url 'main_page' %}">Главная страница</a>

  {% csrf_token %}
  <script>
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
  function deleteClient(id) {

    const request = new Request(
        `/purchases/voucher_delete/${id}/`,
        {
            method: 'POST',
            headers: {'X-CSRFToken': csrftoken},
            mode: 'same-origin' // Do not send CSRF token to another domain.
        }
    );
    fetch(request).then(function(response) {
        location.reload();
    });
  }
  </script>
</body>
</html>