<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <meta name="csrf_token" content="{{ csrf_token }}">
    <title>Voucher Offers</title>
</head>
<body>
  <table>
    <tr>
      <th>Клиент</th>
      <th>Путевка</th>
      <th>Удалить предложение</th>
      <th>Просмотр деталей</th>
      <th>Обновить данные</th>
      <th>Провести покупку</th>
    </tr>
  {% for voucher_offer in object_list %}
    <tr>
      <td>{{ voucher_offer.client }}</td>
      <td>{{ voucher_offer.voucher }}</td>
      <td><button onclick="deleteClient('{{ voucher_offer.uuid }}')">Удалить</button></td> {% csrf_token %}
      <td><a href="{% url 'voucher_offer_details' voucher_offer.uuid %}">Детали</a></td>
      <td><a href="{% url 'voucher_offer_update' voucher_offer.uuid %}">Обновить</a></td>
      <td><button onclick="buyVoucherOffer('{{ voucher_offer.uuid }}')">Провести</button></td>
    </tr>
  {% endfor %}
  </table>
  <a href="{% url 'voucher_offer_create' %}">Создать предложение путевки</a>
  <a style="margin: 5px;" href="{% url 'main_page' %}">Главная страница</a>

  {% csrf_token %}
  <script>
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
  function deleteClient(id) {

    const request = new Request(
        `/purchases/voucher_offer_delete/${id}/`,
        {
            method: 'POST',
            headers: {'X-CSRFToken': csrftoken},
            mode: 'same-origin' // Do not send CSRF token to another domain.
        }
    );
    fetch(request).then(function(response) {
        location.reload();
    });
  }
  </script>
  <script>
  function buyVoucherOffer(id) {

    const request = new Request(
        `/purchases/buy_voucher_offer/${id}/`,
        {
            method: 'POST',
            headers: {'X-CSRFToken': csrftoken},
            mode: 'same-origin' // Do not send CSRF token to another domain.
        }
    );
    fetch(request).then(function(response) {
        location.reload();
    });
  }
  </script>
</body>
</html>