
<style>
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body {
    text-align: center;
  }
  a {
    appearance: auto;
    cursor: default;
    padding-block: 1px;
    padding-inline: 6px;
    background-color: buttonface;
    border: 1px solid black;
    border-radius: 2px;
    outline: none;
    color: black;
    text-decoration: none;
  }
  * {
    margin: 5px;
  }
</style>
<form method="post">{% csrf_token %}
    {{ form.as_p }}
    {% if view_name != 'details' %}
        <input type="submit" value="{% if view_name == 'create' %}Создать{% else %}Обновить{% endif %}">
    {% endif %}
    <a href="{% url 'voucher_offers' %}">Назад</a>
</form>